.profile {
    &__picture {
        margin-bottom: 50px;
        border-radius: 50%;
        overflow: hidden;
        @include border-red;

        & img {
            width: 150px;
            height: 150px;
        }
    }

    &__text {
        max-width: 60%;
    }
}