@import '../../utils/styles/mixins.scss';
@import '../../utils/styles/variables.scss';

.profile {
    &__picture {
        margin: 50px 0;
        border-radius: 50%;
        overflow: hidden;
        @include border-red;

        & img {
            width: 150px;
            height: 150px;
        }
    }

    &__text {
        max-width: 60%;
    }
}