// colors
$primary: #002d40;
$secondary: #d9ecf2;
$tertiary: #e04f5f;
$quaternary: #1aa6b7;

//fonts
$font-title: 'Raleway', Arial, sans-serif;
$font-text: 'Roboto', Arial, sans-serif;
$font-cursive: 'Handlee', Arial, sans-serif;
