@mixin bg-gradient-darkblue {
    background: linear-gradient(to top left, $quaternary, $primary);
}

@mixin bg-gradient-lightblue {
    background: linear-gradient(to top left, $secondary, $quaternary);
}

@mixin center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border-red {
    border: $tertiary 2px solid;
}