#home {
    background: none;
}

.home {
    flex-direction: column;
    width: 100%;
    height: 100svh;
    @include center-all;
    &__title {
        font-size: 2rem;
    }
    &__text {
        margin: 5px 0 20px;
    }
}

.interSection {
    padding: 100px 0;
}
