@import '../../utils/styles/variables.scss';
@import '../../utils/styles/mixins.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    @include bg-gradient-darkblue;
}

.title {
    display: flex;
    align-items: center;

    &__logo {
        width: 50px;
        margin: 0 20px;
    }

    &__text {
        & h1 {
            font-size: 1.2rem;
        }
        & p {
            font-size: 0.8rem;
        }
    }
}

.navbar {
    &__link {
        margin: 0 20px;
    }
}