.footer {
    width: 100%;
    padding: 50px 0 0 0;
    @include bg-gradient-darkblue;

    & section {
        padding: 0;
        background: none;
    }

    &__infos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        border-top: 2px solid $tertiary;
    }
}